<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>baseCurrencyName</key>
		<string>USD</string>
		<key>transactionCurrencyName</key>
		<string>RUR</string>
		<key>selectedPair</key>
		<true/>
	</dict>
	<dict>
		<key>baseCurrencyName</key>
		<string>USD</string>
		<key>transactionCurrencyName</key>
		<string>EUR</string>
	</dict>
	<dict>
		<key>baseCurrencyName</key>
		<string>EUR</string>
		<key>transactionCurrencyName</key>
		<string>RUR</string>
	</dict>
	<dict>
		<key>baseCurrencyName</key>
		<string>EUR</string>
		<key>transactionCurrencyName</key>
		<string>USD</string>
	</dict>
	<dict>
		<key>baseCurrencyName</key>
		<string>RUR</string>
		<key>transactionCurrencyName</key>
		<string>USD</string>
	</dict>
	<dict>
		<key>baseCurrencyName</key>
		<string>RUR</string>
		<key>transactionCurrencyName</key>
		<string>EUR</string>
	</dict>
</array>
</plist>
